<h1><%= @product.title.capitalize %></h1>

<p><%= @product.description %></p>
<span>$<%= @product.price %></span>
<%= image_tag @product.photo, width: 400 if @product.photo.attached? %>


<%= link_to 'Editar producto', edit_product_path(@product) if @product.owner? %>

<%= link_to 'Eliminar producto', product_path(@product), data: { turbo_method: :delete, turbo_confirm: t('common.confirm')} if @product.owner? %>
